.HTML5AudioPlayer-wrapper {
    background: #111 url(orange.png) repeat-x 0 -240px
}
.HTML5AudioPlayer-wrapper .play-btn {
    background: url(orange.png) no-repeat -1px 0
}
.HTML5AudioPlayer-wrapper .volume-btn {
    background: url(orange.png) no-repeat -1px -60px
}
.HTML5AudioPlayer-wrapper .progress-bar-container,
.HTML5AudioPlayer-wrapper .volume-bar-container {
    background: url(orange.png) repeat-x 0 -222px;
    border-bottom: 1px solid #555
}
.HTML5AudioPlayer-wrapper .seek-bar {
    background: url(orange.png) repeat-x 0 -193px
}
.HTML5AudioPlayer-wrapper .volume-bar,
.HTML5AudioPlayer-wrapper .play-bar {
    background: url(orange.png) repeat-x 0 -163px
}
.HTML5AudioPlayer-wrapper .duration-txt,
.HTML5AudioPlayer-wrapper .time-txt {
    color: #eee
}
.HTML5AudioPlayer-wrapper .seperator {
    border-left: solid 1px #000;
    border-right: solid 1px #666;
    opacity: 0.2;
    -moz-opacity: 0.2;
    filter: Alpha(Opacity=20)
}